html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $Color0;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $Color0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $Color3;
    border-left: 3px solid $Color0;
  }

// TEXT

.jbm-text {
    color: white;
    text-decoration: none;
}

.jbm-text-xxl {
    font-size: $font-size-xxl;
}

.jbm-text-xl {
    font-size: $font-size-xl;
}

.jbm-text-lg {
    font-size: $font-size-lg;
}

.jbm-text-md {
    font-size: $font-size-md;
}

.jbm-text-sm {
    font-size: $font-size-sm;
}

.jbm-text-xs {
    font-size: $font-size-xs;
}

// Header Fixed

.jbm-header-fixed-body {
    margin-top: $header-height + $header-padding*2;
}

