// Colors
$Color0: #000009;
$Color1: #070D18;
$Color2: #0E1A27;
$Color3: #152736;
$Color4: #1C3445;
$Color5: #283f4f;
$Color6: #3d4c57;
$Color7: #6d7173;

// Grey
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greyA: #aaaaaa;
$greyB: #bbbbbb;
$greyC: #cccccc;
$greyD: #dddddd;
$greyE: #eeeeee;

// Header
$header-height: 40px;
$header-padding: 10px;

// Menu
$menu-width: 250px;

$ul-padding-left: 40px;
$li-margin-top-bottom: 15px;
$li-padding: 5px;

// Font-Size
$font-size-h1: clamp(2.125rem, 2.375vw, 2.625rem);

$font-size-xxl: clamp(1.625rem, 1.875vw, 2.125rem);
$font-size-xl: clamp(1.50rem, 1.75vw, 2rem);
$font-size-lg: clamp(1.375rem, 1.625vw, 1.875rem);
$font-size-md: clamp(1.125rem, 1.375vw, 1.625rem);
$font-size-sm: clamp(0.875rem, 1.125vw, 1.375rem);
$font-size-xs: clamp(0.75rem, 1vw, 1.25rem);
$font-size-xxs: clamp(0.625rem, 0.875vw, 1.125rem);

// Components

// Button
$btn-width-xl: clamp(200px, 7.5vw, 250px);
$btn-width-lg: clamp(150px, 7.5vw, 200px);
$btn-width-md: clamp(100px, 7.5vw, 150px);
$btn-width-sm: clamp(75px, 7.5vw, 100px);
$btn-width-xs: clamp(50px, 7.5vw, 75px);

$btn-color-red: rgb(200, 0, 0);
$btn-color-red-hover: rgb(170, 0, 0);
$btn-color-red-active: rgb(150, 0, 0);

$btn-color-green: rgb(0, 200, 0);
$btn-color-green-hover: rgb(0, 170, 0);
$btn-color-green-active: rgb(0, 150, 0);

$btn-color-blue: rgb(0, 0, 200);
$btn-color-blue-hover: rgb(0, 0, 170);
$btn-color-blue-active: rgb(0, 0, 150);

$btn-color-yellow: rgb(200, 200, 0);
$btn-color-yellow-hover: rgb(170, 170, 0);
$btn-color-yellow-active: rgb(150, 150, 0);

$btn-color-black: rgb(30, 30, 30);
$btn-color-black-hover: rgb(10, 10, 10);
$btn-color-black-active: rgb(0, 0, 0);