.jbm-content {
  margin-left: 270px;
  width: auto;
  color: white;
}
.jbm-content h1 {
  font-size: clamp(2.125rem, 2.375vw, 2.625rem);
  margin-top: 0.5em;
  margin-bottom: 0;
}
.jbm-content p {
  margin-top: 0.2em;
  margin-bottom: 0;
}
.jbm-content .margin-span {
  display: flex;
  align-items: center;
  margin-top: 5em;
}
.jbm-content .margin-span h2 {
  font-size: clamp(1.5rem, 1.75vw, 2rem);
  margin-top: 0;
  margin-bottom: 0;
}
.jbm-content .margin-span i {
  margin-left: 10px;
  cursor: pointer;
}
.jbm-content section .horizontal-line-span {
  margin: 1rem 20px 1rem 0px;
  background-color: white;
  display: flex;
  width: auto;
  position: relative;
  height: 1px;
}
.jbm-content .container-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.jbm-btn {
  transition: background-color 0.125s ease-in-out;
  cursor: pointer;
  background-color: #eeeeee;
  width: clamp(100px, 7.5vw, 150px);
  height: calc(clamp(100px, 7.5vw, 150px) / 2);
  border-radius: calc(clamp(100px, 7.5vw, 150px) / 10);
  font-size: clamp(1.125rem, 1.375vw, 1.625rem);
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jbm-btn:hover {
  transition: background-color 0.125s ease-in-out;
  background-color: #cccccc;
}
.jbm-btn:active {
  background-color: #bbbbbb;
}

.jbm-btn-red {
  background-color: rgb(200, 0, 0);
  color: white;
}
.jbm-btn-red:hover {
  background-color: rgb(170, 0, 0);
}
.jbm-btn-red:active {
  background-color: rgb(150, 0, 0);
}

.jbm-btn-red {
  background-color: rgb(200, 0, 0);
  color: white;
}
.jbm-btn-red:hover {
  background-color: rgb(170, 0, 0);
}
.jbm-btn-red:active {
  background-color: rgb(150, 0, 0);
}

.jbm-btn-green {
  background-color: rgb(0, 200, 0);
  color: white;
}
.jbm-btn-green:hover {
  background-color: rgb(0, 170, 0);
}
.jbm-btn-green:active {
  background-color: rgb(0, 150, 0);
}

.jbm-btn-blue {
  background-color: rgb(0, 0, 200);
  color: white;
}
.jbm-btn-blue:hover {
  background-color: rgb(0, 0, 170);
}
.jbm-btn-blue:active {
  background-color: rgb(0, 0, 150);
}

.jbm-btn-yellow {
  background-color: rgb(200, 200, 0);
  color: black;
}
.jbm-btn-yellow:hover {
  background-color: rgb(170, 170, 0);
}
.jbm-btn-yellow:active {
  background-color: rgb(150, 150, 0);
}

.jbm-btn-black {
  background-color: rgb(30, 30, 30);
  color: white;
}
.jbm-btn-black:hover {
  background-color: rgb(10, 10, 10);
}
.jbm-btn-black:active {
  background-color: rgb(0, 0, 0);
}

.jbm-btn-xl {
  width: clamp(200px, 7.5vw, 250px);
  height: calc(clamp(200px, 7.5vw, 250px) / 2);
  border-radius: calc(clamp(200px, 7.5vw, 250px) / 10);
  font-size: clamp(1.5rem, 1.75vw, 2rem);
}

.jbm-btn-lg {
  width: clamp(150px, 7.5vw, 200px);
  height: calc(clamp(150px, 7.5vw, 200px) / 2);
  border-radius: calc(clamp(150px, 7.5vw, 200px) / 10);
  font-size: clamp(1.375rem, 1.625vw, 1.875rem);
}

.jbm-btn-md {
  width: clamp(100px, 7.5vw, 150px);
  height: calc(clamp(100px, 7.5vw, 150px) / 2);
  border-radius: calc(clamp(100px, 7.5vw, 150px) / 10);
  font-size: clamp(1.125rem, 1.375vw, 1.625rem);
}

.jbm-btn-sm {
  width: clamp(75px, 7.5vw, 100px);
  height: calc(clamp(75px, 7.5vw, 100px) / 2);
  border-radius: calc(clamp(75px, 7.5vw, 100px) / 10);
  font-size: clamp(0.875rem, 1.125vw, 1.375rem);
}

.jbm-btn-xs {
  width: clamp(50px, 7.5vw, 75px);
  height: calc(clamp(50px, 7.5vw, 75px) / 2);
  border-radius: calc(clamp(50px, 7.5vw, 75px) / 10);
  font-size: clamp(0.625rem, 0.875vw, 1.125rem);
}

.jbm-btn-outline {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  background-color: transparent;
  outline: 1px solid #eeeeee;
  line-height: 0;
  color: #cccccc;
}
.jbm-btn-outline:hover {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  color: black;
}

.jbm-btn-outline-red {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  background-color: transparent;
  outline: 1px solid rgb(200, 0, 0);
  line-height: 0;
  color: rgb(200, 0, 0);
}
.jbm-btn-outline-red:hover {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.jbm-spinner-loader {
  width: 40px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  mask: conic-gradient(rgba(0, 0, 0, 0) 10%, #000), linear-gradient(#000 0 0) content-box;
  mask-composite: subtract;
  animation: jbm-spinner-loader 1s infinite linear;
}

@keyframes jbm-spinner-loader {
  to {
    transform: rotate(1turn);
  }
}
.jbm-columns-loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 30px;
}
.jbm-columns-loader span {
  display: inline-block;
  height: 100%;
  width: 30%;
  border-radius: 4px;
}
.jbm-columns-loader span:nth-child(1) {
  animation: jbm-column-loader-1 1s ease-in-out infinite;
}
.jbm-columns-loader span:nth-child(2) {
  animation: jbm-column-loader-2 1s ease-in-out infinite;
}
.jbm-columns-loader span:nth-child(3) {
  animation: jbm-column-loader-3 1s ease-in-out infinite;
}

@keyframes jbm-column-loader-1 {
  0% {
    scale: 1;
    background-color: #bfbfbf;
  }
  50% {
    scale: 0.8;
    background-color: white;
  }
  100% {
    scale: 1;
    background-color: #bfbfbf;
  }
}
@keyframes jbm-column-loader-2 {
  0% {
    scale: 0.8;
    background-color: white;
  }
  50% {
    scale: 1;
    background-color: #bfbfbf;
  }
  100% {
    scale: 0.8;
    background-color: white;
  }
}
@keyframes jbm-column-loader-3 {
  0% {
    scale: 1;
    background-color: #bfbfbf;
  }
  50% {
    scale: 0.8;
    background-color: white;
  }
  100% {
    scale: 1;
    background-color: #bfbfbf;
  }
}
.jbm-dot-loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.jbm-dot-loader::after, .jbm-dot-loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: jbm-dot-loader 2s linear infinite;
}
.jbm-dot-loader::after {
  animation-delay: 1s;
}

@keyframes jbm-dot-loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*# sourceMappingURL=docs.css.map */
