.jbm-content {
    margin-left: calc($menu-width + 20px);
    width: auto;
    color: white;

    h1 {
        font-size: $font-size-h1;
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.2em;
        margin-bottom: 0;
    }

    .horizontal-line {
        display: flex;
        align-items: center;
        margin-top: 5em;

        h2 {
            font-size: $font-size-xl;
            margin-top: 0;
            margin-bottom: 0;
        }

        i {
            margin-left: 10px;
            cursor: pointer;
        }

    }

    section {

        span {
            margin: 1rem 20px 1rem 0px;
            background-color: white;
            display: flex;
            width: auto;
            position: relative;
            height: 1px;
        }
    }
}